RewriteEngine on
RewriteCond %{HTTP_HOST} ^andromeda.qindin.com.br$ [NC,OR] 
RewriteCond %{HTTP_HOST} ^www.andromeda.qindin.com.br/$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
RewriteRule ^(css|images|js|fonts) - [L]
RewriteRule ^public/.+\.(?:css|js)$ /project%{REQUEST_URI} [L,NC,NE,R=301]
