RewriteEngine on
RewriteCond %{HTTP_HOST} ^andromeda.qindin.com.br$ [NC,OR] 
RewriteCond %{HTTP_HOST} ^www.andromeda.qindin.com.br/$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]
RewriteRule ^(css|images|js|fonts) - [L]
RewriteRule ^([0-9]+)/([a-zA-Z0-9_-]+)$ index.php?id=$1&page=$2 [L]
