RewriteEngine on
RewriteCond %{HTTP_HOST} ^andromeda-dev10397524v3.qindin.com.br$ [NC,OR] 
RewriteCond %{HTTP_HOST} ^www.andromeda-dev10397524v3.qindin.com.br/$
RewriteCond %{REQUEST_URI} !public/
RewriteRule (.*) /public/$1 [L]

